body {
/*  font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",sans-serif,verdana; */
}

/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

:focus {
  -moz-outline-style:none;
}

#packages + ul li + li {margin-top:1em}

#agnerbox {

  /* overlay is hidden before loading */
  display:none;

	position: relative;

  /* for modern browsers use semi-transparent color on the border. nice! */
  border:10px solid rgba(82, 82, 82, 0.698);

  /* hot CSS3 features for mozilla and webkit-based browsers (rounded borders) */
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
}

#agnerbox div.toolbar {
	position: relative;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	color: #666;
	height: 20px;
	background-color: #fff;
  font-size:12px;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif
	
}

#agnerbox div.toolbar .buttons {
  position: relative;
  top: -30px;
}

#agnerbox div.toolbar .project {
  position: relative;
	top: -18px;
}

#agnerbox div.status {
	position: relative;
	top: -18px;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

#agnerbox .status {
	position: relative;
	left: 8px;
  margin-top: -2px;
  margin-left: 2px;
  padding-bottom: 2px;
	width: 500px;
	float: left;
}

#agnerbox .update {
	font-size:12px;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif
  
}

#agnerbox div.contentWrap {
  padding-left:10px;
  border:1px solid #3B5998;
  background-color:#fff;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif
}

#agnerbox h2 {
  margin:-11px;
  margin-bottom:0px;
  color:#fff;
  background-color:#6D84B4;
  padding:5px 10px;
  border:1px solid #3B5998;
  font-size:20px;
}

/* container for external content. uses vertical scrollbar, if needed */
#agnerbox div.contentWrap {
    overflow-x: hidden;       
    overflow-y: scroll;
		margin-right: 10px;
		margin-left: 10px;
		margin-bottom: -6px;
		padding-top: 10px;
}   
  
#agnerbox .blob { 
  overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  /* width: 99%; */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
