---
github_url: "https://github.com/agner/agner"
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Agner - {{ page.title }}</title>
	

	<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/fonts.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen">
	<link rel="stylesheet" href="/css/agner.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="/css/lightbox.css" type="text/css" media="screen" />
  <script src="http://cdn.jquerytools.org/1.2.5/full/jquery.tools.min.js"></script>
	<script type="text/javascript" src="/js/showdown.js"></script>
	<script type="text/javascript" src="/js/textile.js"></script>	
	<script type="text/javascript" src="/js/agner.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21219517-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

  <!--[if IE]>
     <style type="text/css">
     .facebox {
         background:transparent;
         filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#333333,endColorstr=#333333);
         zoom: 1;
      }
      </style>
  <![endif]--> 

  <!-- agner dialog --> 
  <div id="agnerbox"> 

    <div> 
      <h2>Agner README Navigator</h2> 

      <div class="toolbar"> 
	      <div class="buttons">
					<button class="close">X</button>
				</div>
        <div class="status"> Project: <b><span id="agner_project"> </span></b> |
						File: <b><span id="agner_status"></span></b> 
						</div>
      </div> 
      
      <div class="contentWrap"></div> 

      <br />

    </div> 

  </div> 
  <!-- hidden dialog -->

	{% if page.github_url != '' %}
	<a href="{{ page.github_url }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub" /></a>
	{% endif %}
	<header>
		<h1><a href="/"><img src="/images/agner.jpg"></img></a></h1>
	</header>
	<div class="content-wrapper">
		<section class="content">
			{{ content }}
		</section>
	</div>
    <div style="text-align: center; color: gray; font-size: 80%">
       Copyright &copy 2011, Yurii Rashkovskii and others. Logo has been created by <a href="http://ferd.ca">Fred Hebert
</a>
    </div>
</body>
</html>
